<li class="tool">
	<%= text_field_tag 'prank[tools][]', nil, :class => 'inputText labelless' %> <%= link_to_function '[x] remove', "$(this).up('.tool').remove()" %>
	<small>Add a tool to be used in your prank.</small>
</li>