<tr>
	<td><%= most_albums.albums_count %></td>
	<td><h4><%= link_to most_albums.login, most_albums %></h4></td>
	<td><%= link_to image_tag(most_albums.profile_image(:tiny), :class => 'tiny-pic'), most_albums %></td>
</tr>