<div id="title">
	<h2>Forgot Password</h2>
</div>
<%- form_for :user, :url => {:action => 'forgot_password'} do |f| -%>
	    <p>Enter your email address that we have on our file and click send. We will send you a
		   password reset link email to your email address.</p>
        <div class="required">
            <%= f.label :email, 'Email Address:' %>
            <%= f.text_field :email, :class => 'inputText' %>
        </div>
        <div class="submit">
			<%= submit_tag 'Send' %>
		</div>
<%- end -%>