<li>
	<!-- <%= image_tag(popular_prank.profile_image(:medium), :class => 'tiny-pic') %> -->
	<%= link_to image_tag(popular_prank.profile_image(:thumb), :class => 'tiny-pic'), popular_prank %>
	<h4><%= link_to popular_prank.title, popular_prank %></h4>
</li>