<tr>
	<td><%= link_to image_tag(prank_row.profile_image(:small_square), :class => 'tiny-pic'), prank_row %></td>
	<td><h3><%= link_to prank_row.title, prank_row %></h3></td>
	<td><%= prank_row.summary %></td>
</tr>