<div id="tag-cloud">
	<h4>Similar Pranks:</h4>
	<%- tag_cloud @tags, %w(css5 css6 css7 css8) do |tag, css_class| -%>
		<%= link_to tag.name, tag_path(tag.name), :class => css_class %>
	<%- end -%>
</div>